/* 设置页面的容器 */
#cover {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: backgroundSlider 12s infinite;
}

@keyframes backgroundSlider {
    0% {
        background-image: url('../images/projectCovers/0.png');
    }
    33% {
        background-image: url('../images/projectCovers/1.png');
    }
    66% {
        background-image: url('../images/projectCovers/0.png');
    }
    100% {
        background-image: url('../images/projectCovers/1.png');
    }
}

.cover-logo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中 */

    display: flex;
    flex-direction: column;
    gap: 0px;

    z-index: 2; /* 确保图片在文字上面 */
}

/* 设置图片元素 */
.cover-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 320px;
    margin: 0;
}

/* 设置文字层 */
#cover h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 320px;
    color: #7c0002;
    font-size: 3rem;
    margin: 0;
}

.cover-shader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

