.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    flex-shrink: 0;

    column-gap: 48px;
    row-gap: 48px;

    padding: 48px;
    margin-top: 80px;
}

.project-grid h1{
    background-color: white;
}

.project-preview-description h5{
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 6px;
    line-height: 1.5;

}

.project-preview-description h6{
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

#research{
    height: 100vh;
    justify-content: top;
    align-items: center;
}

.reference{
    padding: 48px;
    margin-top: 80px;
}

.reference h6{
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    line-height: 1.5;
}

#research-project-grid{
    margin: 0;
}